*{
    margin: 0;
    padding: 0;
}

.nav{
    list-style: none;
    background-color: goldenrod;
    display: flex;
    justify-content: flex-end;


}

.nav a{
    text-decoration: none;
    display: block;
    padding: 16px;
    color: #fff;

}

.nav a:hover{
    background-color: rgb(233,184,61) ;
}

@media all and (max-width: 800px){
    .nav{
        justify-content: space-around;
    }
}

@media all and (max-width: 600px){
    .nav{
        flex-direction: column;
    }

    nav a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    
}
.media{
    display: flex;
    background-color: antiquewhite;
    padding: 16px;
    max-width: 500px;
    border-radius: 3px;
    margin: 20px;

}

.media-object{
    width: 100px;
    margin-right: 16px;
}

.media-heading{
    margin: 0 0 8px;
}

.img-right{
    order: 1;
}

#main {
    display: flex;
}

#sidebar{
    background-color: #f1f1f1;
    flex: 25%;
    padding: 20px;

}

#content{
    flex: 75%;
    padding: 20px;
}


.ph{
    background-color:#aaa ;
    
    padding: 20px;
    margin-top: 10px;
    padding-right: 0;
}
