@import "grid.css";
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.header-logo {
    display: block;
    width: 142px;
    height: 46px;
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*general classes*/

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}


/* special styles*/

.py-2 {
    padding: 20px 0;
}

.ml-5 {
    margin-left: 50px;
}


/*header*/

.header-form {
    width: 60%;
    margin-left: 17px;
    position: relative;
}

.header-form-input {
    width: 100%;
    padding: 15px 50px 15px 15px;
    border-radius: 65px;
    border: 1px solid #60606F;
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: lowercase;
}

.header-form-button {
    border: none;
    background: transparent;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: red;
    transition: all 0.7s ease 0s;
}

.nav-links li {
    display: inline-block;
    margin-left: 30px;
}

.cart {
    display: block;
    position: relative;
    margin-left: 50px;
}

.circle-block {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.cart:hover .circle-block {
    transform: translateY(-5px);
    transition: all 0.5s ease 0s;
}

.sign {
    background-color: #ff1616;
    padding: 12px 25px;
    border-radius: 35px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(33, 37, 41);
    align-items: center;
}